* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #10cab7;
    --secondaryColor: #2c4755;
    --headingColor: #ebeced;
    --Paragraph: #838383;
    --section-background-color: #fafafa;
    --section-padding: 60px
}

body {
    font-family: "Work Sans", serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.padding {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.special-heading {
    color: var(--headingColor);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: var(--Paragraph);
}

@media screen and (max-width: 1199px) {
    .Grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .col .img img,
    .col .img::before {
        display: none;
    }

}

@media screen and (max-width: 991px) {

    #about .content .img::after,
    #about .content .img::before {
        display: none;
    }

    .Grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin: -20px 0 0;
    }

    .Grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #services .container .content .srv {
        flex-direction: column;
        text-align: center;
    }

    #contact .info .label,
    #contact .info .link {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 576px) {
    .Grid {
        grid-template-columns: 1fr !important;
    }

}

header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 60px;
}

header .links {
    position: relative;

}

header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: 100%;
    display: none;
    z-index: 99;

}

header .links:hover ul {
    display: block;
}

header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header .links ul li a:hover {
    padding-left: 25px;
}

header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.landing {
    background-image: url(../Help/assets/landing.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 320px;
    max-width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--mainColor);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;

}

#features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

#features .feat {
    padding: 20px;
    text-align: center;
}

#features .feat i {
    color: var(--mainColor);
}

#features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

#features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

.content {
    gap: 30px;
    margin-top: 100px
}

#services .container .content .srv {
    display: flex;
    margin-bottom: 40px;
}

.srv i {
    color: var(--mainColor);
    flex-basis: 60px;
}

.srv .text {
    flex: 1;
}

.srv .text h3 {
    margin: 0 0 20px;
}

.srv .text p {
    color: var(--Paragraph);
    font-weight: 300;
    line-height: 1.6;
}

.col img {
    width: 260px;

}

.col .img {
    text-align: center;
    position: relative;
}

.col .img::before {
    content: "";
    position: absolute;
    background-color: var(--secondaryColor);
    width: 100px;
    height: calc(100% + 100px);
    right: 12px;
    top: -50px;
    z-index: -1;
}

#portfolio {
    background-color: var(--section-background-color);
}

#portfolio .card img {
    max-width: 100%;
}

#portfolio .card .info {
    padding: 20px;
    background-color: #fff;
}

#portfolio .card .info p {
    color: var(--Paragraph);
    line-height: 1.6;
    margin: 16px 0 0;
}

#about .content {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#about .content .img {
    position: relative;
    width: 250px;
    height: 375px;
}

#about .content .img::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -55px;
    left: -20px;
    z-index: -1;
    background-color: var(--headingColor);
}

#about .content .img::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 228px;
    border-left: 80px solid var(--mainColor);
    border-bottom: 80px solid var(--mainColor);
    z-index: -1;
    right: -150px;
    top: -35px;
}

#about .img img {
    max-width: 100%;
}

#about .content .text {
    margin-right: 20px;
}

#about .content .text h2 {
    font-weight: 800;
    column-rule: #334752;
    line-height: 2;
    margin-bottom: 50px;
    font-size: 16px;
}

#about .content .text p {
    color: var(--Paragraph);
    line-height: 2;
    font-size: 14px;
}

#about .content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--mainColor);
}

#contact {
    background-color: var(--section-background-color);
}

#contact .info {
    text-align: center;
}

#contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondaryColor);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

#contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--mainColor);
    text-decoration: none;
}

#contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#contact .info .social i {
    color: var(--secondaryColor);
    margin-left: 5px;
}

footer {
    background-color: var(--secondaryColor);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
    width: 100%;
}

footer span {
    font-weight: bold;
    color: var(--mainColor);
}